//
// Buttons
//

// Custom extra large button size
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

// Custom social buttons
.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}

.slack-btn {
  align-items: center;
  color: #fff;
  background-color: #4a154b;
  border: 0;
  border-radius: 56px;
  display: flex;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 600;
  height: 56px;
  justify-content: center;
  text-decoration: none;
  width: 276px;
  margin: 10px auto;
  &:hover {
    background-color: #db3fde;
  }
}
