h2
    | Contact/Support
p.mb-4
    | Get in touch for opportunities/suggestions/ideas 👋
p
    a.btn.btn-outline-dark.btn-social.mx-1(href='mailto:kick.bot.help@gmail.com')
        i.fab.fa-solid.fa-envelope