//
// Global
//

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
//
// https://caniuse.com/?search=scroll-padding

html {
  height: 100%;
  scroll-padding-top: calc(#{$navbar-height} - 1px);
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

// Styling for page sections
.page-section {
  padding: 4rem 0 0.5rem;

  .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
  }

  @include media-breakpoint-up(lg) {
    .page-section-heading {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}

.feature {
  align-items: center;

  .feature-copy {
    margin: 1rem 0 0;
  }
}

.legal-section {
  h3 {
    margin-top: 1.75rem;
  }

  p,
  li {
    max-width: 78ch;
  }
}

@include media-breakpoint-up(md) {
  .feature .feature-copy {
    margin-top: 0;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
